.planner_menu {
    margin: auto;
    width: 235px;
    height: 30px;
    background-color: #ffffff;

    border-radius: var(--block-raduis);

    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    padding-inline: 10px;

    border: 1px solid rgba(0, 0, 0, 0.097);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);
    z-index: 1000;
}

.planner_menu__controls {
    display: flex;
    align-items: center;
    gap: 15px;
    justify-content: center;
}

.planner_menu__icon {
    width: auto;
    height: 23px;
    opacity: 0.7;

    cursor: pointer;
}

.planner_menu__today {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.778);
    cursor: default;
}

.planner_menu__line {
    width: 2px;
    height: 18px;
    background: white;
    border-radius: 8px;
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.265);
}
