.block {
    width: 300px;
    max-height: 110px;

    border: 1px solid rgba(0, 0, 0, 0.097);
    border-radius: var(--block-raduis);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);

    /* overflow: hidden; */
}

.block__header {
    box-sizing: border-box;
    width: 100%;
    height: 28px;
    padding: 1px 15px;

    display: flex;
    align-items: center;
    gap: 40px;

    background-color: #f5f5f5;
    cursor: pointer;
    border-radius: var(--block-raduis) var(--block-raduis) 0 0;
}

.block__controls {
    display: flex;
    gap: 8px;
}

.block__label {
    font-weight: 600;
    font-size: 14px;
}

.block__content {
    /* flex: 1; */
    width: 100%;
    height: 100%;

    padding: 10px;
    font-size: 13px;

    box-sizing: border-box;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;

    overflow-y: auto;

    background-color: #ffffff;

    border-radius: 0 0 var(--block-raduis) var(--block-raduis);
}
