.block {
    width: 300px;
    height: auto;
    max-height: 180px;

    border: 1px solid rgba(0, 0, 0, 0.097);
    border-radius: var(--block-raduis);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);

    overflow: hidden;
}

.block__header {
    box-sizing: border-box;
    width: 100%;
    height: 28px;
    padding: 1px 15px;

    display: flex;
    align-items: center;
    gap: 40px;

    background-color: #f5f5f5;
    cursor: pointer;
}

.block__controls {
    display: flex;
    gap: 8px;
}

.block__label {
    font-weight: 600;
    font-size: 14px;
}

.block__content {
    width: 100%;

    padding-block: 10px;
    font-size: 13px;

    box-sizing: border-box;
    padding-inline: 15px;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;

    overflow-y: auto;

    background-color: rgba(255, 255, 255, 0.7);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}
