.nearest_meeting_row {
    margin-inline: auto;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nearest_meeting_row__info {
    display: flex;
    gap: 18px;
    align-items: center;

    border-bottom: 0.5px solid rgba(0, 0, 0, 0.074);

    margin-right: 7px;
}

.nearest_meeting_row__bullet {
    width: 3px;
    height: 3px;
    background-color: rgba(0, 0, 0, 0.071);
    border-radius: 15px;
}

.nearest_meeting_row__person {
    text-align: start;
    width: 160px;
    font-weight: 300;
}

.nearest_meeting_row__telegram {
    display: inherit;
    align-content: center;
    opacity: 0.6;

    transition: opacity 0.18s ease-in-out;
}

.nearest_meeting_row__telegram:hover {
    opacity: 1;
}

.nearest_meeting_row__telegram img {
    width: auto;
    height: 15px;
}

.nearest_meeting_row__time {
    font-size: 12px;
    font-weight: 400;
    border-radius: 4px;
    padding: 0px 4px;
    background-color: var(--dark-grey);

    color: white;

    cursor: default;
}
