.overlay {
    z-index: 1000;
    left: 0;
    top: 0;

    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);

    align-content: center;
}

.modal {
    width: auto;
    max-width: 350px;

    height: auto;
    max-height: 400px;

    border: 1px solid rgba(0, 0, 0, 0.097);
    border-radius: var(--block-raduis);
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.192);

    margin: auto;
}

.modal__header {
    box-sizing: border-box;
    width: 100%;
    height: 28px;
    padding: 1px 15px;

    display: flex;
    align-items: center;
    gap: 40px;

    background-color: #f5f5f5;
    cursor: pointer;
    border-radius: var(--block-raduis) var(--block-raduis) 0 0;
}

.modal__header_controls {
    display: flex;
    gap: 8px;
}

.modal__header_title {
    font-weight: 600;
    font-size: 14px;
    flex: 0.7;
}

.modal__content {
    width: 100%;
    height: 100%;

    padding: 15px;
    font-size: 13px;

    box-sizing: border-box;

    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 4px;

    overflow-y: auto;

    background-color: #ffffff;

    border-radius: 0 0 var(--block-raduis) var(--block-raduis);
    padding-top: 20px;
}
