.datepicker__root {
    display: flex;
    flex-direction: column;

    text-align: start;

    cursor: pointer;
}

.datepicker__root_label {
    margin-left: 4px;
    margin-bottom: 1px;

    font-weight: 600;
    cursor: default;
}

.datepicker__root_field {
    display: flex;
    align-items: center;
    gap: 6px;

    font-weight: 400;

    border: 1px solid var(--light-grey);
    border-radius: 4px;
    padding: 2px 5px;
    outline: none;
}

.datepicker__root_icon {
    width: auto;
    height: 15px;
    opacity: 0.5;
}

.datepicker__root_field_placeholder {
    opacity: 0.5;
}

.calendar {
    position: absolute;

    width: 275px;
    height: 230px;

    border: 1px solid rgba(0, 0, 0, 0.097);
    border-radius: var(--block-raduis);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);

    background-color: white;

    display: flex;
    flex-direction: column;

    padding: 12px;
}

.calendar__week_days {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.calendar__days {
    display: flex;
    flex-wrap: wrap;
}
