.datepicker__root {
    display: flex;
    flex-direction: column;

    text-align: start;

    cursor: pointer;
}

.datepicker__root_label {
    margin-left: 4px;
    margin-bottom: 1px;

    font-weight: 600;
    cursor: default;
}

.datepicker__root_field {
    display: flex;
    align-items: center;
    gap: 6px;

    font-weight: 400;

    border: 1px solid var(--light-grey);
    border-radius: 4px;
    padding: 2px 5px;
    outline: none;
}

.datepicker__root_icon {
    width: auto;
    height: 15px;
    opacity: 0.5;
}

.datepicker__root_field_placeholder {
    opacity: 0.5;
}

.calendar {
    position: absolute;

    width: 230px;
    height: 185px;

    border: 1px solid rgba(0, 0, 0, 0.097);
    border-radius: var(--block-raduis);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);

    background-color: white;

    display: flex;
    flex-direction: column;
    gap: 10px;

    padding: 16px;
}

.calendar__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.calendar__header_period {
    font-size: 15px;
    font-weight: 700;
}

.calendar__header_controls {
    display: flex;
    gap: 20px;

    & img {
        width: auto;
        height: 15px;

        cursor: pointer;
    }
}

.calendar__week_days {
    display: flex;
    gap: 10px;
    justify-content: center;
}

.calendar__days {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    gap: 2px;
}

.calendar__day {
    box-sizing: border-box;
    font-size: 13px;
    text-align: center;
    padding: 3px 1px;

    cursor: pointer;
}

.day_selected {
    color: #0a7aff;
    border-radius: 20%;
    background: rgba(10, 122, 255, 0.12);
}

.calendar__time {
    align-self: flex-end;
}

.calendar__time_label {
    font-size: 14px;
    margin-right: 5px;
}
