.popover {
    position: absolute;

    min-width: 100px;
    max-width: 300px;
    min-height: 60px;
    max-height: 330px;
    border-radius: var(--block-raduis);
    border: 1px solid var(--light-grey);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.06);

    display: flex;
    flex-direction: column;

    overflow: hidden;
    z-index: 1000;

    background-color: #ffffff;
}

.popover__title {
    padding-top: 5px;
    font-size: 13px;

    background-color: #f5f5f5;
    text-align: center;
}

.popover__content {
    padding-inline: 7px;
    font-size: 13px;

    display: flex;
    flex-direction: column;
    gap: 3px;
}
