.meeting_row_liner {
    width: 1px;
    height: 15px;
    background-color: var(--light-grey);
}

.meeting_row_liner_dark {
    width: 1px;
    height: 15px;
    background-color: var(--dark-grey);
}

.meeting_row {
    display: flex;
    width: 390px;
    max-width: 400px;
    align-items: center;
    gap: 8px;
    margin-inline: 8px;
}

.meeting_row__info {
    display: inherit;
    gap: 8px;
    align-items: center;
}

.meeting_row__person {
    width: 120px;
    font-weight: 600;
    font-size: 12px;
}

.meeting_row__date {
    font-size: 12px;
    font-weight: 400;
}

.meeting_row__links {
    display: flex;
    gap: 3px;

    & a {
        align-content: center;
    }
}

.meeting_row__links_icon {
    display: inherit;
    align-content: center;
    opacity: 0.6;

    transition: opacity 0.18s ease-in-out;
}

.meeting_row__links_icon:hover {
    opacity: 1;
}

.meeting_row__links_icon img {
    width: auto;
    height: 15px;
}

.meeting_row__links_icon_wfolio {
    display: inherit;
    align-content: center;
    opacity: 0.6;

    transition: opacity 0.18s ease-in-out;

    cursor: pointer;
}

.meeting_row__links_icon_wfolio:hover {
    opacity: 1;
}

.meeting_row__links_icon_wfolio img {
    width: 12px;
    height: auto;
}
