.planner {
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px 50px;

    display: flex;
    flex-direction: column;
    align-content: center;
    gap: 50px;
}

.widgets_row__1 {
    align-self: flex-end;
}

.widgets_row__2 {
    align-self: center;
}

.menu_row {
    align-self: center;
}
