@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");

:root {
    font-family: "JetBrains Mono", monospace;
    font-weight: 500;

    --block-raduis: 14px;
    --green: rgb(69, 240, 163);
    --aqua-green: rgba(137, 237, 192, 0.973);

    background-color: rgba(255, 255, 255, 0);
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}

p {
    margin: 0;
}

button {
    font-family: "JetBrains Mono", monospace;
    border-radius: 6px;
    border: none;

    padding: 4px 14px;
    background: linear-gradient(#4b91f7, #367af6);
    color: #ffffff;

    cursor: pointer;
    transition: padding 0.1s ease-in;
}

button:active {
    padding: 4.4px 15px;
}
