.meeting_status {
    padding: 0px 4px;
    border: 1px solid var(--light-grey);
    border-radius: 4px;
    font-size: 12px;
    font-weight: 300;

    cursor: pointer;
    text-wrap-mode: nowrap;
}

.popover_statuses {
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding-block: 10px;
    width: 110px;
}

/* Назначено */
.assigned {
    background-color: rgb(178, 223, 252);
}

/* Проведено */
.completed {
    background-color: rgb(255, 244, 175);
}

/* Ждет обработки */
.pending {
    background-color: rgba(255, 49, 49, 0.3);
}

/* В обработке */
.processing {
    background-color: rgba(193, 49, 255, 0.3);
}

/* Сдано */
.submitted {
    background-color: rgba(49, 255, 94, 0.3);
}
