.amount {
    color: var(--dark-grey);
}

.loss {
    color: rgb(241, 95, 95);
}

.small {
    font-size: 14px;
    font-weight: 600;
}

.medium {
    font-size: 18px;
    font-weight: 700;
}

.large {
    font-size: 28px;
    font-weight: 900;
}
